* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: lightgray;
}

main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main form input {
    margin-bottom: 10px;
}

div{
    text-align: center;
    text-decoration: none;
    color: darkblue;
}

.btn1{
    text-align: center;
    padding: 8px;
    border-radius: 0.500rem;
    background-color: rgb(59, 118, 247);
    color: white;
}
.btn2{
    text-align: center;
    padding: 8px;
    border-radius: 0.500rem;
    background-color: rgb(59, 118, 247);
    color: white;
}
.btn3{
    text-align: center;
    padding: 8px;
    padding-right: 45px;
    padding-left: 45px;
    border-radius: 0.500rem;
    background-color: rgb(78, 205, 255);
    color: black;
}
.btn4{
    text-align: center;
    padding: 8px;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 0.500rem;
    background-color: rgb(78, 205, 255);
    color: black;
}
.btn5{
    text-align: center;
    padding: 8px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 0.500rem;
    background-color: rgb(233, 0, 50);
    color: rgb(0, 0, 0);
}



